#theme-switch-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
}

/* Style du Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    z-index: 2;
}

input:checked + .slider {
    background-color: #2c3e50;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.icon {
    font-size: 14px;
    user-select: none;
}

/* --- VARIABLES DE THEME --- */
body {
    transition: background-color 0.3s, color 0.3s;
}

/* Classe activée par le JS */
body.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}

body.dark-mode #search-bar {
    background-color: #333;
    color: white;
    border-color: #555;
}

body.dark-mode #search-button {
    background-color: #333;
    color: #e8eaed;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#search-container {
    text-align: center;
}

#logo {
    cursor:pointer;
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    color: #4285F4;
    background: linear-gradient(to right, #4285F4 100%, #4285F4 60%, #ffffff 50%, #4285F4 40%, #4285F4 0%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s linear infinite;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

#search-bar {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    font-size: 1em;
}

#search-button {
    padding: 13px 20px;
    border: none;
    background-color: #f1f1f1;
    color: #3c4043;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}
