body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#search-container {
    text-align: center;
}

#logo {
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    color: #4285F4;

    background: linear-gradient(to right, #4285F4 0%, #4285F4 40%, #ffffff 50%, #4285F4 60%, #4285F4 100%);
    background-size: 200% auto;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shine 3s linear infinite;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

#search-bar {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    font-size: 1em;
}

#search-button {
    padding: 13px 20px;
    border: none;
    background-color: #f1f1f1;
    color: #3c4043;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}
